#background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-image: url(Img/background.jpg);
    background-size:cover;
}

#tree_header{
    position: fixed;
    top: 20px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: 400ms;
    width: 300px;
    height: 50px;
    visibility: hidden;
    background-image: url(Img/header.jpg);
    opacity: 0;
    cursor: pointer;
    border: 3px groove;
    border-color: slategrey;
    
}

#tree_header_top{
    width: 100%;
    height: 48%;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px black;
    top: 0px;
    left: 0px;
    color: whitesmoke;
    font-weight: bold;
    transition: 400ms;
}

#tree_header_bot{
    width: 100%;
    height: 48%;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px white;
    bottom: 0px;
    left: 0px;
    color: black;
    font-weight: bold;
    transition: 400ms;
}

#content{
    position:absolute;
    top: 100px;
    left: 25vw;
    
}

#right_limit{
    position: absolute;
    top: 0px;
    height: 10px;
    width: 1px;
    background-color: rgba(0,0,0,0);
}

#bottom_limit{
    position: absolute;
    left: 0px;
    width: 10px;
    height: 1px;
    background-color: rgba(0,0,0,0);
}

/* ------------------------------------------------------ Info box styles ------------------------------------------------------ */
#info_box{
    z-index: 20;
    position: absolute;
    box-sizing: content-box;
    border: 5px groove;
    border-color: bisque;
    margin: auto;
    width: 400px;
    height: 210px;
    top: -200px;
    left: 0px;
    background-color: black;
    visibility: hidden;
    opacity = 0;
    transition: 500ms;
}

#page_1{
    visibility: hidden;
    opacity = 0;
    transition: 500ms;
}

#page_2{
    visibility: hidden;
    opacity = 0;
    transition: 500ms;
}

#page_3{
    visibility: hidden;
    opacity = 0;
    transition: 500ms;
}

#page_4{
    visibility: hidden;
    opacity = 0;
    transition: 500ms;
}

#header{
    position: absolute;
    display: block;
    background-color: black;
    width: 40%;
    height: 17%;
    left: 0px;
    top: 0px;
}

.name{
    position: absolute;
    color: white;
    text-align: center;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 100%;
}
.rare{
    position: absolute;
    text-align: left;
    height: 50%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: chocolate;
}

.info_page{
    position: absolute;
    display: block;
    cursor: pointer;
    height: 82%;
    width: 40%;
    left:0px;
    bottom: 0px;
    background: black;
}


.lable{
    text-align: left;
    display: inline-block;
    width: 46%;
    left: 0px;
    height: 100%;
    color: dodgerblue;
    vertical-align: top;
}

.value{
    text-align: right;
    display: inline-block;
    width: 47%;
    right: 0px;
    height: 100%;
    color: white;
    vertical-align: top;
    
}

.info_line{
    
    width:100%;
    height: 10%;
}

#atk_lable{
    color: dodgerblue;
}

#atk_val{
    color: white;
}


#ele_lable{
    position: relative;
    text-align: left;
    display: inline-block;
    overflow: visible;
    color: dodgerblue;
    width: 70%;
    height: 80%;
    vertical-align: top;
}

#ele_val{
    
    text-align: right;
    right: 0px;
    display: inline-block;
    color: white;
    width: 23%;
    height: 100%;
}

.sharp_lable{
    color: dodgerblue;
    width: 100%;
    height: 10%;
}

#sharp{
    border-top: 2px solid;
    border-top-color: chocolate;
    
}

#sharp_p_img_cont{
    border-bottom: 2px solid;
    border-bottom-color: chocolate;
}

.sharp_img_cont{
    width:100%;
    height:10%;
}

.sharp_img{
    height:50%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid;
    border-color: gainsboro;
}

#slot_lable{
    color: dodgerblue;
}

#slot_val{
    color: white;
}
#aff_lable{
    color: dodgerblue;
}

#aff_val{
    color: white;
}

#weap_type{
    position: absolute;
    border-top: 2px solid;
    border-top-color: chocolate;
    width: 100%;
    bottom: 5px;
    left: 0px;
    
}

#weap_type_lable{
    color: dodgerblue;
    text-align: left;
    display: inline-block;
    width: 20%;
    right: 0px;
    height: 100%;
}

#weap_type_val{
    color: white;
    text-align: right;
    display: inline-block;
    width: 73%;
    left: 0px;
    
    height: 100%;
}

#extra_info{
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
}

#flavour{
    color: white;
    overflow: auto;
}

.text_cont{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
}

.cat_lable{
    color: white;
    font-size: 100%;
    width: 100%;
    height: 10%;
}

#parent_lable{
    text-align: left;
    color: white;
}

#parent_name{
    text-align: center;
    color: white;
    border-top: 1px groove chocolate;
    border-bottom: 1px groove chocolate;
}

.mat_lable{
    text-align: left;
    display: inline-block;
    width: 86%;
    left: 0px;
    height: 100%;
    color: dodgerblue;
    vertical-align: top;
    overflow: hidden;
}

.mat_value{
    text-align: right;
    display: inline-block;
    width: 9%;
    right: 0px;
    height: 100%;
    color: white;
    vertical-align: top;
}

.cost_lable{
    color: yellow;
    text-align: left;
    display: inline-block;
    width: 20%;
    left: 0px;
    height: 100%;
    
}

.cost_value{
    color: white;
    text-align: right;
    display: inline-block;
    width: 73%;
    right: 0px;
    height: 100%;
}


#info_img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 100%;
    transition: 500ms;
    
    
    
}

#lg_img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-left:1px solid;
    border-left-color: chocolate;
        
}

.infoBox{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* ------------------------------------------------------ End of Info box styles ------------------------------------------------------ */

/* ------------------------------------------------------ Tree styles ------------------------------------------------------ */
.panel{
    position: absolute;
    
    height: 100px;
    width: 98px;
    border: 2px ridge;
    border-color: transparent;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.conn_panel{
    position: absolute;
    height: 100px;
    width: 100px;   
    
}

.tree{
    position: absolute;
    background-color: bisque;
}

.ImgPan{
    position: absolute;
    bottom: 0px;
    left:0px;
    height:75px;
    width:100%;
}

.ConnPan{
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}
/* ------------------------------------------------------ End of Tree styles ------------------------------------------------------ */

/* ------------------------------------------------------ Control styles ------------------------------------------------------ */
#control{
    position:fixed;
    z-index: 100;
    right:0px;
    top:50px;
    width:150px;
    height:200px;
    
    
}
/* ------------------------------------------------------ End of Control styles -----------------------------------------------*/

/* ------------------------------------------------------ Options styles -----------------------------------------------*/
#options{
    z-index: 40;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    transition: 200ms;
    min-height: 200px;
    min-width: 190px;
    background-color: steelblue;
    border-right: 1px solid;
    border-right-color: darkgoldenrod;
    
}

#options_containter{
    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: steelblue;

    
}

#options_header{
    z-index: 56;
    position: relative;
    display: block;
    height:5%;
    min-height: 20px;
    width: 100%;
    background-color: steelblue;

}

#options_top{
    z-index: 55;
    position: relative;
    display: block;
    height: 10%;
    min-height: 40px;
    width: 100%;
    background-color: steelblue;
    border-right: 2px ridge;
    border-right-color: darkgoldenrod;
    border-top: 2px ridge;
    border-top-color: darkgoldenrod;
    
}

#op_overview{
    height: 50%;
    color: antiquewhite;
    cursor: pointer;
}

#op_weap{
    height: 50%;
    color: antiquewhite;
    cursor: pointer;
}

#options_middle{
    z-index: 54;
    position: relative;
    display: block;
    height: 5%;
    min-height: 20px;
    width: 100%;
    transition: 50ms;
    background-color: steelblue;
    border-right: 2px ridge;
    border-right-color: darkgoldenrod;
}

#weap_cont{
    
    height: 280px;
    top: -280px;
    left: 0px;
    
}

.equip_cont{
    position: absolute;
    border-right: 2px ridge;
    border-right-color: darkgoldenrod;
    width: 100%;
    background-color: lightsteelblue;
}

.equip_op{
    
    height: 20px;
    width: 100%;
    text-align: center;
    border-top: 1px groove;
    border-top-color: whitesmoke;
    border-bottom: 1px solid;
    border-bottom-color: whitesmoke;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

#op_armor{
    
    height: 100%;
    color: antiquewhite;
}

#arm_cont{
    
    height: 140;
    top: -140px;
    left: 0px;
}

#options_bottom{
    z-index: 50;
    position: relative;
    display: block;
    height: 5%;
    min-height: 20px;
    width: 100%;
    transition: 50ms;
    background-color: steelblue;
    border-right: 2px ridge;
    border-right-color: darkgoldenrod;
    border-bottom: 2px ridge;
    border-bottom-color: darkgoldenrod;
}

#op_bookmk{
    height: 100%;
    color: antiquewhite;
    cursor: pointer;
}

.options_info_line{
    width: 100%;
    border-bottom: 1px groove;
    border-top: 1px groove;
    cursor: pointer;
    text-align: center;
}

#options_toggle{
    z-index: 51;
    position: absolute;
    height:50px;
    width: 50px;
    top: 0px;
    right: -50px;
    
}

#toggle_img{
    z-index: 52;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
     
}

#toggle_button{
    z-index: 0;
    position: fixed;
    height:50px;
    width: 50px;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transition: 200ms;
}

#toggle_image{

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}


/* ------------------------------------------------------ End of Options styles -----------------------------------------------*/

/* ------------------------------------------------------ Message styles -----------------------------------------------*/
.pop_window{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0px;
    margin: auto;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    width: 100vw;
}

.pop_cont{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    border 1px solid;
    border-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    animation-name: spawn;
    animation-duration: 0.3s;

    height: 60%;
    width: 80%;
}

@keyframes spawn{
    from{opacity: 0}
    to {opacity: 1}
}

.close_butt{
    position: absolute;
    color: white;
    top: 0px;
    right: 0px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.pop_head{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20%;
    width: 100%;
    background-color: darkred;
    color: white;
}

.pop_body{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    background-color: darkcyan;
    color: white;
}
/* ------------------------------------------------------ End of Message styles -----------------------------------------------*/